#icons {
    border-radius: 50%;
    background-color: white;
    padding: 20px;
    margin: 10px;
    color: black;
}

/* #icons:hover{
    transform: rotate(360deg);
    transition: transform 2s;   
} */