#bgImage {
    background-image: url('../images/Diverse-Group-of-People-Visit-an-About-Us-Page.jpg');
}

#bgAccessories {
    background-image: url('../images/website-under-construction-service-page-warning-will-be-coming-soon-site-machinery-builders-tools-unfinished-218430816.webp');
}

#bgWorkstation {
    background-image: url('../images/images (1).jpeg');
}

#bgSoftware {
    background-image: url('../images/enchanted-forest-coming-soon-sign-vibrant-fantasy-woodland-scene-whimsical-310337289.webp');
}

@media (min-width:640px) {
    #bgImage{
        background-size: cover;
        background-position: center;
    }
}